[submodule "Projects/QKD"]
	path = Projects/QKD
	url = https://github.com/farice/QKD
[submodule "Papers/qec-final-project"]
	path = Papers/qec-final-project
	url = https://github.com/farice/qec-final-project
